a {
  color:#2196f3;
  text-decoration:none;
}
.mdl-layout-header {
  background:#1f1f1f;
}
.userBar {
  position: relative;
  background: #000;
  height: 22px;
  padding:0;
}
.mdl-layout__header-row {
    height: 87px;
    padding: 0 16px;
    position:relative;
}

.mdl-card {
    margin: auto;
}
.logo-image {
  width:114px;
}
.mdl-layout__drawer-button {
    margin: 4px;
    color: #fff;
    right:0;
    left:inherit;
}
.title {
  text-transform:uppercase;
}
.user {
  color:#fff;
  width:1190px;
  margin:0 auto;
  position:relative;
}

a.dd {
  float: right;
  background-image: url('../images/Triangle1.svg');
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 20px;
  color: #fff;
  font-weight: 100;
  font-size: 12px;
}
.fallback {position:absolute;right:0;}
/*.user:hover ul.fallback {display:block;float:right;}*/

nav {background:#FFF;float:left;}
nav ul {text-align:center;margin:0;}
nav ul li {float:left;display:inline;}
nav ul li:hover {}
nav ul li a {display:block;padding:15px 25px;color:#444;text-decoration:none;text-transform:uppercase;}
nav ul li a.dd {
  background-image: url('images/ic_arrow_drop_down_black_24px.svg');
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 20px;
}
.user ul {
  position:absolute;
  padding:0;
  width:auto;
  margin:0 0 0 14px;
  background:transparent;
  top:20px;
  right:0;
  list-style:none;
  font-weight:100;
  font-size:12px;
  z-index:1000;
  text-align:left;}
.user ul li {width:auto;float:none;}
.user ul li a {display:block;padding:0;color:#fff;}
.user ul li:hover a {background:transparent;color:#1f66af;}
.user ul.fallback {display:none;}
.user:hover ul.fallback {display:block;}

.mdl-textfield.is-dirty .mdl-textfield__label,
.mdl-textfield.has-placeholder .mdl-textfield__label,
.mdl-textfield__label {
    visibility: visible;
    position: absolute;
    top: -3px;
    color:#000;
}

.mdl-textfield__input {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    border:1px solid #000;
    text-indent:10px!important;
    -webkit-input-placeholder {text-indent:10px!important;}
    -moz-placeholder { text-indent:10px!important;}
    -moz-placeholder {text-indent:10px!important;}
    -ms-input-placeholder {text-indent:10px!important;}
}
input.mdl-button[type="submit"] {
  background: #000;
  color: #fff;
  padding: 0;
  width: 300px;
  margin: 0 auto;
  font-weight:200;
  text-transform:none;
}

.hero-container {
  position:relative;
}

.mdl-card__media {
  background-color:transparent;
  padding: 25px 0 0px;
}
.mdl-card__media img {
  width:126px;
}

.mdl-card__supporting-text {
  width: auto;
}

.mdl-mega-footer {
  background:#000;
  text-align:right;
}
.mdl-mega-footer .footer {
  padding: 10px 0 15px;
  width: 1060px;
  margin: auto;
}
.mdl-mega-footer span{
  float:left;
}
.mdl-mega-footer img {
  width:35px;
}

@media screen and (min-width: 1025px) {
  .mdl-layout--no-desktop-drawer-button .mdl-layout__header-row {
    padding-left: 60px;
    max-width: 1190px;
    margin:auto;
    position:relative;
  }
}

@media (max-width: 900px) {
  .navigation-container {
      display: none;
  }
}

@media (max-width: 839px) and (min-width: 480px) {
  .what-we-do .threeup{
    width:29%;
    margin:10px 15px;
  }
}

@media (max-width: 736px) {
  .mdl-card,
  .mdl-textfield {
      width: 100%;
    }
    .hero-content ul {
        display:none;
    }
.mdl-cell,
.who-we-are .mdl-cell {
    width:100%;
    margin: 8px 16px;
  }
  .mdl-mega-footer .footer {
    text-align:center;
    width:200px;
  }
  .mdl-mega-footer span {
      float: none;
      display: block;
      text-align: center;
      margin:0 0 10px;
  }
}

@media (max-width: 479px) {
  .mdl-textfield {
      width: 100%;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .title {
        left: calc(50% - 85px);
    }
    .mdl-layout__drawer-button {
          display: none;
      }
    .mdl-mega-footer .footer {
        width: 708px;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    
    .mdl-layout__drawer-button {
          display: none;
      }
    .mdl-mega-footer .footer {
        width: 970px;
    }
}
